* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Koulen", cursive;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* overflow-x: hidden; */
}

.navbar {
}

.navbar__list {
  /* height: 5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 0.5rem 2rem;
  border-bottom: #000 solid;
  list-style: none;
}
