/* COLORS

DARK BLUE: #192e59
LIGHT BLUE: #164f73
GREY: #555
*/

:root {
  --dblue: #192e59;
  --lblue: #164f73;
  --grey: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Koulen", cursive;
  line-height: 1;
  font-weight: 400;
  color: var(--grey);
}

.navbar__list {
  /* height: 5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 0.5rem 2rem;
  border-bottom: #000 solid;
  list-style: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ph-arrow-fat-lines-down {
  font-size: 6rem;
  color: ;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.card:hover::before {
  animation: cardBgSlide 1s forwards;
}

.card:hover .card__btn {
  opacity: 1;
  transform: translateX(-10rem);
}

.card__img {
  clip-path: circle();
}

.card::before {
  content: " ";
  position: absolute;
  top: -3rem;
  left: 6rem;
  z-index: -50;
  height: 25rem;
  width: 38rem;
  background-image: linear-gradient(
      45deg,
      rgba(25, 46, 89, 0),
      rgba(22, 79, 115, 0)
    ),
    url(./imgs/moroccan-flower-dark.webp);
}

.card__text {
  font-size: 4rem;
  line-height: 1.5;
  padding-left: 1.5rem;
  background-color: #fff;
}

.btn {
  border: var(--lblue) solid;
  border-radius: 50%;
}

.card__btn {
  transform: translateX(-15rem);
  opacity: 0;
  transition: all 0.5s 0.5s;
}

.card__btn__link {
  text-decoration: none;
}
.ph-arrow-right {
  padding: 1rem;
  font-size: 4rem;
  color: var(--grey);
}

@keyframes cardBgSlide {
  25% {
    background-image: linear-gradient(
        45deg,
        rgba(25, 46, 89, 0.5),
        rgba(22, 79, 115, 0.5)
      ),
      url(./imgs/moroccan-flower-dark.webp);
  }

  50% {
    background-image: linear-gradient(
        45deg,
        rgba(25, 46, 89, 0.75),
        rgba(22, 79, 115, 0.75)
      ),
      url(./imgs/moroccan-flower-dark.webp);
  }

  100% {
    left: 10rem;
    background-image: linear-gradient(
        45deg,
        rgba(25, 46, 89, 0.75),
        rgba(22, 79, 115, 0.75)
      ),
      url(./imgs/moroccan-flower-dark.webp);
  }
}
