* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Koulen", cursive;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.navbar__list {
  /* height: 5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 0.5rem 2rem;
  border-bottom: #000 solid;
  list-style: none;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.card:hover::before {
  left: 10rem;
  background: linear-gradient(45deg, #192e59, #164f73);
}

.card__img {
  clip-path: circle();
}

.card::before {
  content: " ";
  position: absolute;
  top: -3rem;
  left: 6rem;
  z-index: -50;
  height: 25rem;
  width: 38rem;
  background-image: url(./imgs/moroccan-flower-dark.webp);
  transition: all 0.3s ease-out;
}

.card__text {
  font-size: 4rem;
  line-height: 1.5;
  padding-left: 1.5rem;
  background-color: #fff;
}

.card__btn {
  border: #164f73 solid;
  border-radius: 50%;
}
.card__btn__link {
  text-decoration: none;
}
.ph-arrow-right {
  padding: 1rem;
  font-size: 4rem;
  color: #164f73;
}
